# VSCode settings
.vscode

# Eclipse settings
.settings

# Maven files
.classpath
.factorypath
.project
dependency-reduced-pom.xml

# Build output
target

# Local project files
*.db
token.tk
messages.json