# VSCode settings
.vscode

# Eclipse settings
.settings

# Maven files
.classpath
.factorypath
.project
dependency-reduced-pom.xml

# Build output
target

# Log files
logs/

# Local project files
*.db
movesrv.sh
token.tk
messages.json